<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058885263666-45if9l2fe5lt7vdpropkme910pal2a43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058885263666-45if9l2fe5lt7vdpropkme910pal2a43</string>
	<key>API_KEY</key>
	<string>AIzaSyBx1X_-WfVeGf4ZXWxepqkDILzjMyeDNEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058885263666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDailyReport</string>
	<key>PROJECT_ID</key>
	<string>flutter-daily-report</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-daily-report.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058885263666:ios:a8b485e212fe669d78b72b</string>
</dict>
</plist>